body {
  font-family: sans-serif;
  text-align: center;
}

form {
  margin: 120px 180px;
  background: #FF1920;
  padding: 20px 30px;
  border-radius: 20px;
}

h1 {
  color: white;
}

form #area-post {
  margin: auto 0;
}
input {
  display: block;
  background: #FF9C7D;
  border: none;
  border-radius: 5px;
  margin: 15px auto;
  padding: 5px 10px;
}
input:hover {
  background: white;
  border: none;
  border-radius: 10px;
}

input[type="button"]{
  color: white;
  background: #2DDC5C;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

form.post-area {
  background: #FF1920;
  margin: 0 90px;
  border-radius: 20px;
}

textarea {
  resize: none;
  overflow: hidden;
  border-radius: 10px;
  border: none;
}

.publicados {
  border: 1px dashed;
  margin: auto 100px;
}
